.container {
    max-width: 45vw;
    margin: auto;
}

.mb3 {
    margin-bottom: 21px;
    display: flex;
    flex-direction: column;
}

.formlabel {
    padding: 7px 0;
}

.input {
    padding: 3px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #000000;
}

.btn {
    color: white;
    background-color: #000000;
    padding: 7px 6px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
    margin-bottom: 9px;
}

@media only screen and (max-width: 600px) {
    .container {
        max-width: 88vw;
        margin: auto;
    }
}